* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.useful-div {
    justify-self: center;
}

#usefuller {
    color: brown;
}

dl {
    color: yellowgreen;
}

a {
    color: orange;
}

a[href="#notes"] {
    color: red;
}

a:hover {
    color: red;
}

img:active {
    transition-duration: 0.2s;
    transform: rotate(180deg);
}

ol, ul {
    font-size: 1.6vw;
}

ol > li {
    font-family: fantasy;
}

h3 + p {
    background-color: aqua;
}

h2 ~ h2 {
    font-style: italic;
}

dl.list {
    font-size: small;
}

section:has(*.list) {
    background-color: beige;

    & .list {
        background-color: blanchedalmond;
    }
}