@font-face {
    font-family: "Playwrite Australia SA";
    src: url('./PlaywriteAUSA-VariableFont_wght.ttf');
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(200, 200, 255);
}

.useful-div {
    display: grid;
    grid-template-areas: 
        "text audio"
        "word word";
    grid-template-rows: [row1-start] auto [row1-end row2-start] auto [row2end];
    grid-template-columns: [col1-start] auto auto [col3-start] min(300px, 40vw);
}

.useful-div #in-useful-div {
    grid-column-start: col1-start;
    grid-column-end: col3-start;
}

.useful-div #word1 {
    justify-self: right;
    padding-right: 2em;
}

.useful-div #word2 {
    justify-self: left;
    padding-left: 2em;
    position: relative;
    left: 20vw;
}

#usefuller {
    color: brown;
}

section[id="future"] {
    display: inline-block;
}

h1 {
    display: block;
}

audio[src="theelevatorbossanova.mp3"] {
    width: 100%;
    height: 100%
}

dl {
    color: hsl(100, 100, 100);
}

header {
    font-size: 1.4vw;
    color:#400707;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 100;
}

a {
    color: red;
}

a:hover {
    color: color-mix(in srgb, red, yellow);
}

video {
    border-style: ridge;
    border-width: 10px;
    border-radius: 5px;
    border-color: aquamarine;
    padding-top: 10px;
    padding-left: 2dvw;
    padding-bottom: 10px;
    padding-right: 2dvw;
    background-color: black;
    margin: auto;
}

img[src="kitten.jpg"] {
    width: 60vw;
    height: 42vw;
    min-width: 600px;
    min-height: 420px;

    border-style:dotted;
    border-width: 1mm;
    padding: 10px 10px 10px 10px;
    margin: 10pt 0pt 10pt 0pt;
}

img:active {
    transition-duration: 0.2s;
    transform: rotate(180deg);
}

ol, ul {
    font-size: 12px;
}

ol > li {
    font-family: fantasy;
}

h3 + p {
    background-color: color(display-p3 0.5 0.6 0.9);
}

h2 ~ h2 {
    font-style: italic;
}

dl.list {
    font-size: small;
}

section:has(*.list) {
    background-color: lightskyblue;

    & listt {
        background-color: lightseagreen;
    }
}

fieldset {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 5px;
}

@media (width >= 1500px) and (hover: hover) {
    /* For big screens */
    * {
        font-family: 'Playwrite Australia SA';
        font-size: 20px;
    }

    form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    
    }

    #big-box {
        order: 99;
    }
}

button {
    background-color: #FF8C00; /* fallback color */
    background-image: linear-gradient(45deg, #FF8C00, #FF0000);
}